<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
           <div width="100%" height="100%" ng-controller="AdaptTabCtrl">
             <a href="http://hostapp/F6D2F50B-9D0B-424F-BCE0-2011715E7B5F/getReservoirPressuresFromTM">test</a>
             <button ng-click="loadPressuresFromBase()">Load reservoir pressures from Tech</button>

                   <!-- Внимание! Вообще-то полные дубликаты в коллекции, по которой идет ng-repeat, не допускаются. Это потому,
                        что нужно отслеживать добавление-удаление элементов и перестраивать html. По идее, у нас наверное будут на входе не просто
                        числа, а пары "дата-число", но пока это не так, можно даже при наличии дубликатов спастись за счет track by $index. Но в перспективе
                        лучше настроить track by на поле-дату. Если просто ничего этого не делать, track by настроится на объект в целом, и всякий раз будет 
                        перестраивать все (ну или не всякий, но близко к тому). RTFM, короче. -->
                   <table class="table" width="100%" height="100%">
                     <!-- Мне кажется, идентифицировать параметры guid-ами или даже именами *здесь* избыточно, если мы обмениваемся данными только с нашим (локально запущенным) бэкэндом,
                          который можно обновлять всякий раз, как меняется набор параметров. Тогда мы можем сэкономить на передаче и немного на запаковке-распаковке JSON,
                          и передавать параметры в виде массива строк. Или даже просто в виде некодированного потока, в каждой строке которого - значение соответствующей ячейки.
                          С другой стороны - велика ли экономия? А ведь именами идентифицировать удобнее: можно в бэкэнде C#/Java описать класс с типизированными свойствами,
                          и по имени свойства оттуда читать. Ведь серверу нужно какие-то расчеты выполнять. А вот гуиды нам дадут только гибкость, но не удобство.
                          Пожалуй, остановимся все же на именах, и лучше JSON-валидных (считая это свойствами некого объекта). -->
                     <tr ng-repeat="pressure in ReservoirPressureData track by $index"><td>{{pressure}}</td></tr>
                   </table class="table">

           </div>
</body>
</html>
